body {
}

#main-header {
    background-color: #eee;
    padding: 1em;
}
    #main-header h1 {
        margin-top: 0;
    }

#mainframe {
  padding: 20px 5px;
}

#login-panel section {
    margin-top: 2em;
}

#bp-records th {
    color: #333;
    background-color: #eee;
}

.bp-readout {
    font-weight: bold;
}

#logout-btn {
    margin-left: 15px;
}
